.second-hand {
	stroke-width: 3px;
}
.minute-hand {
	stroke-width: 5px;
	stroke-linecap: round;
}
.hour-hand {
	stroke-width: 8px;
	stroke-linecap: round;
}
.hands-cover {
	stroke-width: 3px;
	fill: #fff;
}
.second-tick {
	stroke-width: 2px;
	fill: #000;
}
.hour-tick {
	stroke-width: 5px;
}
.second-label {
	font-size: 12px;
}
.hour-label {
	font-size: 24px;
}
